<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTMX -->
    <script src="../js/htmx.min.js"></script>
    <script src="../js/json-enc.js"></script>

    <!-- Tailwindcss -->
    <link href={{crate::consts::CSS_STYLESHEET}} rel="stylesheet" />

    <title>
        NostrDevs El Salvador
    </title>

    <!-- Favicon -->
    <link rel="icon" href="../assets/nostr.png" type="image/png">

</head>

<body class="h-dvh w-dvw flex bg-nostr-dark text-white font-source">
    <div class="flex-1 px-4 sm:px-8 md:px-16 lg:px-32 xl:px-64">
        <div class="py-4 md:py-8">
            {% include "header.html" %}
            {% block content %}{% endblock %}
            {% include "footer.html" %}
        </div>
    </div>
</body>

</html>
